@import 'tailwindcss';

@theme {
  --color-n-1: #ffffff;
  --color-n-2: #3e8ede;
}

@layer base {
  :root {
    /* RGB and OKLCH examples for orange */
    --rgb-orange: rgb(255, 165, 0);
    /* Standard orange in RGB */
    --oklch-orange: oklch(79.27% 0.1709 70.67);
    /* Perceptually similar orange in OKLCH */
  }
}

@layer utilities {
  .bg-rgb-orange {
    background-color: var(--rgb-orange);
  }

  .bg-oklch-orange {
    background-color: var(--oklch-orange);
  }
}